In [1]:
#Creat one variable containing following type data

In [9]:
s ="Vaishnavi"
type(s)

str

In [12]:
s=[2,3,4,5,6,'sudh',3+4j,'vaishnavi',3456.56]
type(s)

list

In [14]:
s=456.67
type(s)

float

In [19]:
s=(1,2,3,4,5,456.67,3+4j )
type(s)

tuple

In [39]:
#2q.2 Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.
#ANSWER
#(i)string   
#(ii)list
#(iii)list
#(iv)integer

In [43]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#ANSWER
#USE=IT IS USED FOR DIVIDIN .IT IS DIVISION OPERATOR.
#EXAMPLE=55/5
#(ii) %
#USE=IT IS USED FOR FIND OUT PERSENTAGE.IT IS ALSO MODULUS OPERATOR
#EAMPLE=45%6
#(iii) //
#ANSWER
#USE =IT IS  FLOOR DIVISION USED FOR DIVIDE TWO NUMBERS AND ROUNDS THE OUTCOME DOWN THE NEAREST INTEGER.
#EXAMPLE=5//6
#(iv) **
#USE=IT IS USED FOR SHOW THE POWER .IT IS RAISE THE NUMBER ON THE LEFT TO THE POWER ON THE EXPONENT OF THE RIGHT.
# EXAMPLE =2**3

In [47]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print theelement and its data type.

In [57]:
S=[2,3,4,5,6,3+5j,67.8,'VAISHNAVI','BANK',224]

In [59]:
for i in S:
   print (type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'complex'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'int'>

In [64]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how manytimes it can be divisible.

In [2]:
a= 45 
b= 5 
while a>5:
    print(a/5)
    a=a/5
    break

9.0

In [3]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [27]:
l1=[3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,23,25,26,27]
for i in l1:
    print(i)
    if i%3 ==0:
     print(i, "is divisible by 3.")
    else:
        print(i, "is not divisible by 3.")

3
3 is divisible by 3.
4
4 is not divisible by 3.
5
5 is not divisible by 3.
6
6 is divisible by 3.
7
7 is not divisible by 3.
8
8 is not divisible by 3.
9
9 is divisible by 3.
10
10 is not divisible by 3.
11
11 is not divisible by 3.
12
12 is divisible by 3.
13
13 is not divisible by 3.
14
14 is not divisible by 3.
15
15 is divisible by 3.
16
16 is not divisible by 3.
17
17 is not divisible by 3.
18
18 is divisible by 3.
19
19 is not divisible by 3.
20
20 is not divisible by 3.
21
21 is divisible by 3.
22
22 is not divisible by 3.
23
23 is not divisible by 3.
23
23 is not divisible by 3.
25
25 is not divisible by 3.
26
26 is not divisible by 3.
27
27 is divisible by 3.

In [57]:
""".Q.7What do you understand about mutable and immutable data types? Give examples for both showingthis property.
ANSWER 
#MUTABLE DATA TYPE:
Basically, A mutable can be changed/mutated after it is created.
we can modify the already existing values of the data types (such as lists, dictionaries, etc.). 
Or, we may add new values or remove the existing values from our data types.
Basically, we may perform any operation with our data without having to create a new copy of our data type. 
Hence, the value assigned to any variable can be changed.
EXAMPLE:list,dictionaries,set.
#IMMUTABLE DATA TYPE:
An immutable data type cannot be changed after it is created.
For example, String is an immutable data type in Python. We cannot change its content, otherwise, we may fall into a TypeError. 
Even if we assign any new content to immutable objects, then a new object is created (instead of the original being modified).
Example: tuples, int, float, bool."""

'.Q.7What do you understand about mutable and immutable data types? Give examples for both showingthis property.\nANSWER \n#MUTABLE DATA TYPE:\nBasically, A mutable can be changed/mutated after it is created.\nwe can modify the already existing values of the data types (such as lists, dictionaries, etc.). \nOr, we may add new values or remove the existing values from our data types.\nBasically, we may perform any operation with our data without having to create a new copy of our data type. \nHence, the value assigned to any variable can be changed.\nEXAMPLE:list,dictionaries,set.\n#IMMUTABLE DATA TYPE:\nAn immutable data type cannot be changed after it is created.\nFor example, String is an immutable data type in Python. We cannot change its content, otherwise, we may fall into a TypeError. \nEven if we assign any new content to immutable objects, then a new object is created (instead of the original being modified).\nExample: tuples, int, float, bool.'

In [47]:
l1=[34,45,67,"sudha",4+5j,'True']

In [48]:
type(l1)

list

In [49]:
l1[2]="pwskills"

In [43]:
l1

[34, 45, 'pwskills', 'sudha', (4+5j), 'True']

In [45]:
s="vaishnavi"

In [51]:
type(s)

str

In [53]:
s[1]='u'

TypeError: 'str' object does not support item assignment